.App {
  text-align: center;
  height: 100vh;
  margin:0;
  padding: 0;
}

.main__title-plus {
  height: 1px;
  overflow: hidden;
  margin: 0;
}
.calendar__plus-button{
  background-color: #3f9bd1;
  color: white;
  font-size: 24px;
  width: 300px;
  height: 30px;
}
