.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px;
}
.back__button {
  height: 40px;
  width: 60px;
}
.mood__emotic-form {
    margin: 15px 0 30px;
}
.happy__emotic-form {
    
}
.happy__container{
    margin: 15px 0 20px;
  }